<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>signUpBackend</servlet-name>
        <servlet-class>signUpBackend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginBackend</servlet-name>
        <servlet-class>loginBackend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fp1</servlet-name>
        <servlet-class>fp1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fp2</servlet-name>
        <servlet-class>fp2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fp3</servlet-name>
        <servlet-class>fp3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>flightBookingBackend</servlet-name>
        <servlet-class>flightBookingBackend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchFlight</servlet-name>
        <servlet-class>searchFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchFlightRes</servlet-name>
        <servlet-class>searchFlightRes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>flightBooking</servlet-name>
        <servlet-class>flightBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightComInsert</servlet-name>
        <servlet-class>FlightComInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentBackend</servlet-name>
        <servlet-class>FlightPaymentBackend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bankInsertBackend</servlet-name>
        <servlet-class>bankInsertBackend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>flightPaymentB</servlet-name>
        <servlet-class>flightPaymentB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>packageBookingBackend</servlet-name>
        <servlet-class>packageBookingBackend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentPackages</servlet-name>
        <servlet-class>paymentPackages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hotelBookingBackend</servlet-name>
        <servlet-class>hotelBookingBackend</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signUpBackend</servlet-name>
        <url-pattern>/signUpBackend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginBackend</servlet-name>
        <url-pattern>/loginBackend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fp1</servlet-name>
        <url-pattern>/fp1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fp2</servlet-name>
        <url-pattern>/fp2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fp3</servlet-name>
        <url-pattern>/fp3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>flightBookingBackend</servlet-name>
        <url-pattern>/flightBookingBackend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchFlight</servlet-name>
        <url-pattern>/searchFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchFlightRes</servlet-name>
        <url-pattern>/searchFlightRes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>flightBooking</servlet-name>
        <url-pattern>/flightBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightComInsert</servlet-name>
        <url-pattern>/FlightComInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentBackend</servlet-name>
        <url-pattern>/paymentBackend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bankInsertBackend</servlet-name>
        <url-pattern>/bankInsertBackend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>flightPaymentB</servlet-name>
        <url-pattern>/flightPaymentB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>packageBookingBackend</servlet-name>
        <url-pattern>/packageBookingBackend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentPackages</servlet-name>
        <url-pattern>/paymentPackages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hotelBookingBackend</servlet-name>
        <url-pattern>/hotelBookingBackend</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
